{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "experimental": {
            "plugins": [
                [
                    "@swc/plugin-emotion",
                    {
                        // default is true. It will be disabled when build type is production.
                        "sourceMap": true,
                        // default is 'dev-only'.
                        "autoLabel": "dev-only"
                    }
                ]
            ]
        }
    }
}
